[Unit]
Description=Node Monitoring Service
Requires=postgresql.service
After=postgresql.service

[Service]
WorkingDirectory=/opt/ff-node-monitor/src
ExecStart=/opt/ff-node-monitor/src/target/release/ff-node-monitor
User=ff-node-monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
