[global.ff-node-monitor.ui]
# The name and grammatical article of this instance.
instance_name = "Freifunk ... Knotenüberwachung"
# The sentence "Willkommen bei $instance_article_dative $instance_name" should be grammatically
# correct.
instance_article_dative = "der"
# The sender address of the emails that are sent by ff-node-monitor.
email_from = "...@...freifunk.net"

[global.ff-node-monitor.urls]
# The root URL where you will be hosting ff-node-monitor.
root = "https://host/node-monitor"
# The URL to the hopglass nodes.json file.
nodes = "https://host/path/nodes.json"
# URL to the source code (needed for AGPL compliance).  You can leave this unchanged if you didn't
# change the code.  Otherwise, you have to upload the changed code somewhere and point to it here.
sources = "https://github.com/freifunk-saar/ff-node-monitor"
# Optional: Absolute URL to another stylesheet that is included in the page.
#stylesheet = "https://..."

[global.ff-node-monitor.secrets]
# Key used to sign data for confirmation emails.  Generate this key with
# `openssl rand -hex 32`.
action_signing_key = "..."
# Optional: Host to submit emails to.  That host must accept email with arbitrary destination
# from this service.
#smtp_host = "localhost"

[global.databases]
# PostgreSQL credentials.  If you followed the instructions in the README, the
# default should work for you.
postgres = { url = "postgres://ff-node-monitor@/ff-node-monitor" }

[global]
# The address on which ff-node-monitor will listen.  Use "0.0.0.0" to listen on all interfaces.
# Stick with "127.0.0.1" if you are running this behind a reverse proxy (recommended).
address = "127.0.0.1"
# The port must be at least 1024 because lower ports can only be opened by root, and you should
# not run this service as root.
port = 8833
# Secret key used by Rocket.  Generate this key with `openssl rand -base64 32`.
secret_key = "..."
