[global.ff-node-monitor.ui]
instance_name = "Freifunk ..."
email_from = "...@...freifunk.net"

[global.ff-node-monitor.urls]
root_url = "https://..."
nodes_url = "https://..."

[global.ff-node-monitor.secrets]
postgres_url = "postgres://..."
action_signing_key = "..."
