<!DOCTYPE html>
<html>
  <head>
    <title>{{> title}}</title>
    <link rel="stylesheet" href="{{config.urls.root}}static/style.css">
  </head>
  <body>
    <div><h1>{{> title}}</h1></div>
    {{~> page}}
  </body>
</html>
