{{!
//  ff-node-monitor -- Monitoring for Freifunk nodes
//  Copyright (C) 2018  Ralf Jung <post AT ralfj DOT de>
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU Affero General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU Affero General Public License for more details.
//
//  You should have received a copy of the GNU Affero General Public License
//  along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{> title}}</title>
    <link rel="stylesheet" href="{{config.urls.root}}static/style.css">
  </head>
  <body>
    <div id="title"><h1>{{> title}}</h1></div>
    {{~> page}}
    <div id="footer">This site is running <a href="https://github.com/freifunk-saar/ff-node-monitor">ff-node-monitor</a>, which is free and open software.</div>
  </body>
</html>
