body {
    margin: 20px auto;
    max-width: 600px;
    padding: 0px 25px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
}
    
h1, h2, h3 {
    font-weight: 500;
}

h1, h2 {
    border-bottom: 1px solid #eaecef;
}

h1 {
    font-size: 200%;
    padding-bottom: 20px;
}

h2 {
    font-size: 170%;
    padding-top: 10px;
    padding-bottom: 15px;
}

h3 {
    font-size: 150%;
}

#footer {
    padding-top: 3em;
    text-align: center;
    font-size: 80%;
}

/* List page */

.node .online {
    color: green;
}

.node .offline, .node .gone {
    color: red;
}


input[type="submit"] {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    border: 2px solid #888;
    font-size: 14pt;
    cursor: pointer;
    margin: 2px 0;
}

input[type="submit"].link {
    border: none;
    background: none;
    display: inline;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.formgrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5px;
    align-items: center;
}

.fieldgrid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 5px;
}
