body {
    margin: 20px auto;
    max-width: 660px;
    padding: 0px 25px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12pt;
    line-height: 1.5;
    color: #24292e;
}
    
h1, h2, h3 {
    font-weight: 500;
}

h1, h2 {
    border-bottom: 1px solid #eaecef;
}

h1 {
    font-size: 200%;
    padding-bottom: 20px;
}

h2 {
    font-size: 170%;
    padding-top: 10px;
    padding-bottom: 15px;
}

h3 {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 15px;
}

#footer {
    padding-top: 3em;
    text-align: center;
    font-size: 80%;
}

/** Forms */

.formgrid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5px;
    align-items: center;
}

.fieldgrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 5px;
    align-items: center;
}

input, select,
.chosen-container-single .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    background: #fff;
    height: 30px;
    box-sizing: border-box;
    color: #000;
    border-radius: 3px;
    border: 2px solid #888;
    font-size: 14pt;
    margin: 2px 0;
    padding: 1px 8px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 2px solid #888;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #fff;
    padding-bottom: 3px; /* in exchange for the border */
}
.chosen-container-active.chosen-with-drop .chosen-drop {
    margin-top: -2px; /* avoid gap */
    border: 2px solid #888;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background: #fff;
}

input[type="submit"] {
    cursor: pointer;
}

input[type="text"] {
    min-width: 200px;
}

input[disabled=""] {
    color: #AAA;
    border-color: #CCC;
}

/* Chosen sprites */
.chosen-container-single .chosen-single div {
    padding-top: 2px;
}
.chosen-container-single .chosen-single abbr{
    top: 8px;
    right: 22px;
}

/** List page */

.node .online {
    color: green;
}

.node .offline, .node .gone {
    color: red;
}


input[type="submit"].link {
    border: none;
    background: none;
    display: inline;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
