{{~#*inline "title"~}}
  Fehler
{{~/inline~}}
{{~#*inline "page"}}
  <p>Es ist ein Fehler aufgetreten:
  Die angegebene Aktion ist nicht (mehr) gültig.
  Bitte versuche es erneut.</p>
  <p>
    <a href="{{config.urls.root}}">Zurück</a>
  </p>
{{~/inline}}
{{~> partials/page }}
