{{!
//  ff-node-monitor -- Monitoring for Freifunk nodes
//  Copyright (C) 2018  Ralf Jung <post AT ralfj DOT de>
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU Affero General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU Affero General Public License for more details.
//
//  You should have received a copy of the GNU Affero General Public License
//  along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{~#*inline "title"~}}
  {{config.ui.instance_name}}
{{~/inline~}}
{{~#*inline "page"}}
<p>
  Willkommen bei {{config.ui.instance_article_dative}} <b>{{config.ui.instance_name}}</b>!
  Dieser Dienst 체berwacht kontinuierlich den Status aller Knoten.
  Du kannst dich registrieren, um per E-Mail 체ber Status채nderungen informiert zu werden, zum Beispiel wenn ein Knoten offline geht.
</p>
<form method="get" action="list">
  <div class="formgrid">
    <div class="fieldgrid">
      <div>E-Mail-Adresse:</div>
      <input type="text" name="email">
    </div>
    <div class="button">
      <input type="submit" value="Knoten 체berwachen">
    </div>
  </div>
</form>
{{~/inline}}
{{~> partials/page }}
