{{~#*inline "title"~}}
  Knotenüberwachung für {{action.email}}
{{~/inline~}}
{{~#*inline "page"}}
  <p>
    Es wurde eine E-Mail zur Bestätigung an <b>{{action.email}}</b> verschickt.
    Klicke auf den Link in dieser E-Mail, um <b>{{action.node}}</b>
    {{#if action.op }}zu überwachen.{{else}}nicht mehr zu überwachen.{{/if}}
  </p>
{{~/inline}}
{{~> partials/page}}
