{{!
//  ff-node-monitor -- Monitoring for Freifunk nodes
//  Copyright (C) 2018  Ralf Jung <post AT ralfj DOT de>
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU Affero General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU Affero General Public License for more details.
//
//  You should have received a copy of the GNU Affero General Public License
//  along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{~#*inline "title"~}}
  Fehler
{{~/inline~}}
{{~#*inline "page"}}
  <p>Es ist ein Fehler aufgetreten:
  Der angegebene Knoten <b>{{{action.node}}}</b> existiert nicht und kann daher nicht überwacht werden.</p>
  <p>
    <a href="{{list_url}}">Zurück zur Knotenliste</a>
  </p>
{{~/inline}}
{{~> partials/page }}
