{{~#*inline "title"~}}
  Knoten端berwachung f端r {{action.email}}
{{~/inline~}}
{{~#*inline "page"}}
  <p>
    <b>{{action.node}}</b> wird jetzt von <b>{{action.email}}</b>
      {{#if action.op }}
      端berwacht.
      {{else}}
      nicht mehr 端berwacht.
      {{/if}}
  </p>
{{~/inline}}
{{~> partials/page }}
